@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(51, 51, 51, 0.9);
  ;
}

.wrapper .links-wrapper h1 {
  color: #fff;
  border: 1px solid #5f5c5c;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 6px;
  background-color: #3c3b3b;
  font-size: 24px;
  font-weight: 400;
  padding: 1px 0 3px 0;
}

.wrapper .links-wrapper .bottom-spacer {
  display: block;
  height: 30px;
}

.wrapper .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.links .link {
  border: 2px solid #060606;
  padding: 3px;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 3px;
  width: 104px;
  height: 104px;
  box-shadow: 1px 1px 3px 0px #000000;
  cursor: pointer;
}

.links .link.g-drive {
  background-color: #a3f5b5;
}

.links .link.personal {
  background-color: #d6f5a3;
}

.links .link .title {
  background-color: #cacaca;
  padding: 1px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 4px;
  font-weight: bold;
  border: 1px solid #3c3b3b;
}

.links .link img {
  max-width: 80px;
  max-height: 70px;
  border: 1px;
  border-color: #8c8c8c;
  box-shadow: 1px 1px 3px 0px #000000;
  border-style: solid;
  border-radius: 6px;
}

/* ========================================================================================== */
.wrapper .projects {
  display: inline-block;
  max-width: 900px;
  width: 90%;
}
.wrapper .projects table.overview {
  font-size: 12px;
  background-color: #fdfdfd;
  border: 2px solid #e3c4c4;
  padding: 3px;
  width: 100%;
  margin-top: 8px;
}
.wrapper .projects table.overview td.name {
  font-weight: 400;
  font-size: 14px;
}
.wrapper .projects table.overview td.code a {
  color: #413fdd;
  text-decoration: none;
  font-weight: 600;
}
.wrapper .projects table.overview td.actions a {
  color: #ff42c7;
  text-decoration: none;
  font-weight: 600;
}
.wrapper .projects table.overview td.sonarqube a {
  color: #1db142;
  text-decoration: none;
  font-weight: 600;
}

/* ========================================================================================== */
.wrapper {
  padding: 2px;
  text-align: center;
  display: block;
}

.wrapper .links-wrapper {
  display: inline-block;
  max-width: 900px;
  width: 90%;
}

.wrapper .links-wrapper .links-new {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper .links-wrapper .links-new .link {
  border: 2px solid #060606;
  padding: 3px;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 3px;
  width: 80px;
  height: 78px;
  box-shadow: 1px 1px 3px 0px #000000;
  cursor: pointer;
}

.wrapper .links-wrapper .links-new .link img {
  max-width: 80px;
  max-height: 70px;
  border: 1px;
  border-color: #8c8c8c;
  box-shadow: 1px 1px 3px 0px #000000;
  border-style: solid;
  border-radius: 6px;
  margin-top: 2px;
}