<div class="alert alert-primary" role="alert" *ngIf="!canRender">
  Loading...
</div>

<table class="table table-striped table-hover table-bordered table-sm" *ngIf="canRender">
  <thead>
    <tr>
      <th scope="col" *ngIf="canRenderColumn('Name')">Name</th>
      <th scope="col" *ngIf="canRenderColumn('RepoType')">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of projects">
      <td *ngIf="canRenderColumn('Name')">{{ project.name }}</td>
      <td *ngIf="canRenderColumn('RepoType')"><repo-type [project]="project"></repo-type></td>
    </tr>
  </tbody>
</table>