<div class="alert alert-primary" role="alert" *ngIf="!canRender">
  Loading...
</div>

<div *ngIf="canRender">
  <option-editor [config]="config"></option-editor>

  <div *ngIf="showNotification" [class]="notificationClass">{{notification}}</div>
  <command-response [response]="commandResponse"></command-response>

  <table class="table table-striped table-hover table-bordered table-sm projectTable">
    <thead>
      <tr>
        <th scope="col" *ngIf="canRenderColumn('Name')">Name</th>
        <th scope="col" *ngIf="canRenderColumn('LastUpdated')">Updated</th>
        <th scope="col" *ngIf="canRenderColumn('Description')">Description</th>
        <th scope="col" *ngIf="canRenderColumn('RepoType')">&nbsp;</th>
        <th scope="col" *ngIf="canRenderColumn('UrlRepo')">&nbsp;</th>
        <th scope="col" *ngIf="canRenderColumn('UrlCiCd')">&nbsp;</th>
        <th scope="col" *ngIf="canRenderColumn('UrlSonarQube')">&nbsp;</th>
        <th scope="col" *ngIf="canRenderColumn('DefaultBranch')">Branch</th>
        <th scope="col" *ngIf="canRenderColumn('RepoLastUpdate')">Last Push</th>
        <th scope="col" *ngIf="canRenderColumn('RepoId')">RepoId</th>
        <th scope="col" *ngIf="canRenderColumn('RepoIsPublic')">Public</th>
        <th scope="col" *ngIf="canRenderColumn('RepoSize')">SIZE</th>
        <th scope="col" *ngIf="canRenderColumn('License')">License</th>
        <th scope="col" *ngIf="canRenderColumn('HasReadme')">Readme</th>
        <th scope="col" *ngIf="canRenderColumn('HasGitAttributes')">.gitAttr</th>
        <th scope="col" *ngIf="canRenderColumn('HasPrTemplate')">PR</th>
        <th scope="col" *ngIf="canRenderColumn('HasEditorConfig')">.editorconfig</th>
        <th scope="col" *ngIf="canRenderColumn('HasBuildScripts')">👷‍♂️</th>
        <th scope="col" *ngIf="canRenderColumn('CiVersion')">👷‍♂️</th>
        <th scope="col" *ngIf="canRenderColumn('CountCiFlows')">🔄</th>
        <th scope="col" *ngIf="canRenderColumn('CountRepoForks')">🍴</th>
        <th scope="col" *ngIf="canRenderColumn('CountOpenIssues')">⚠️</th>
        <th scope="col" *ngIf="canRenderColumn('DirSrc')">🧬</th>
        <th scope="col" *ngIf="canRenderColumn('DirTest')">🧪</th>
        <th scope="col" *ngIf="canRenderColumn('DirDocs')">📄</th>
        <th scope="col" *ngIf="canRenderColumn('DirBuild')">👷‍♂️</th>
        <th scope="col" *ngIf="canRenderColumn('Languages')">Languages</th>
        <th scope="col" *ngIf="canRenderColumn('SonarQubeBadges')">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td *ngIf="canRenderColumn('Name')" class="name">{{ project.name }}</td>
        <td *ngIf="canRenderColumn('LastUpdated')" class="date">{{ project.lastUpdated | date:'yyyy-MM-dd hh:mm' }}</td>
        <td *ngIf="canRenderColumn('Description')" class="description">{{ project.description }}</td>
        <td *ngIf="canRenderColumn('RepoType')"><repo-type [project]="project"></repo-type></td>
        <td *ngIf="canRenderColumn('UrlRepo')"><link-generic [url]="project.repo.url" name="repo"></link-generic></td>
        <td *ngIf="canRenderColumn('UrlCiCd')"><link-generic [url]="project.repo.cicd" name="ci-cd"></link-generic></td>
        <td *ngIf="canRenderColumn('UrlSonarQube')"><link-sq [project]="project" [config]="config"></link-sq></td>
        <td *ngIf="canRenderColumn('DefaultBranch')" class="branch">{{ project.repo.defaultBranch }}</td>
        <td *ngIf="canRenderColumn('RepoLastUpdate')">{{ project.repo.lastUpdated | date:'yyyy-MM-dd' }}</td>
        <td *ngIf="canRenderColumn('RepoId')">{{ project.repo.id }}</td>
        <td *ngIf="canRenderColumn('RepoIsPublic')"><bool-tick [value]="project.repo.isPublic"></bool-tick></td>
        <td *ngIf="canRenderColumn('RepoSize')"><human-size [value]="project.repo.size"></human-size></td>
        <td *ngIf="canRenderColumn('License')"><link-generic [url]="project.scm.licenseUrl" [name]="project.scm.licenseName"></link-generic></td>
        <td *ngIf="canRenderColumn('HasReadme')">
          <div *ngIf="!project.scm.readme">❌</div>
          <link-generic *ngIf="project.scm.readme" [url]="project.scm.readme" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('HasGitAttributes')">
          <div *ngIf="!project.scm.gitAttributes">❌</div>
          <link-generic *ngIf="project.scm.gitAttributes" [url]="project.scm.gitAttributes" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('HasPrTemplate')">
          <div *ngIf="!project.scm.prTemplate">❌</div>
          <link-generic *ngIf="project.scm.prTemplate" [url]="project.scm.prTemplate" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('HasEditorConfig')">
          <div *ngIf="!project.scm.editorConfig">❌</div>
          <link-generic *ngIf="project.scm.editorConfig" [url]="project.scm.editorConfig" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('HasBuildScripts')"><string-tick [value]="project.scm.buildScript"></string-tick></td>
        <td *ngIf="canRenderColumn('CiVersion')">{{project.scm.ciVersion}}</td>
        <td *ngIf="canRenderColumn('CountCiFlows')"><array-count [value]="project.scm.ciFlows"></array-count></td>
        <td *ngIf="canRenderColumn('CountRepoForks')"><raw-count [value]="project.repo.forks"></raw-count></td>
        <td *ngIf="canRenderColumn('CountOpenIssues')"><raw-count [value]="project.repo.openIssues"></raw-count></td>
        <td *ngIf="canRenderColumn('DirSrc')">
          <div *ngIf="!project.scm.srcDirectory">❌</div>
          <link-generic *ngIf="project.scm.srcDirectory" [url]="project.scm.srcDirectory" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('DirTest')">
          <div *ngIf="!project.scm.testDirectory">❌</div>
          <link-generic *ngIf="project.scm.testDirectory" [url]="project.scm.testDirectory" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('DirDocs')">
          <div *ngIf="!project.scm.docsDirectory">❌</div>
          <link-generic *ngIf="project.scm.docsDirectory" [url]="project.scm.docsDirectory" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('DirBuild')">
          <div *ngIf="!project.scm.buildDirectory">❌</div>
          <link-generic *ngIf="project.scm.buildDirectory" [url]="project.scm.buildDirectory" name="✔"></link-generic>
        </td>
        <td *ngIf="canRenderColumn('Languages')"><array-string [value]="project.languages"></array-string></td>
        <td *ngIf="canRenderColumn('SonarQubeBadges')"><sq-badges [config]="config" [project]="project"></sq-badges></td>
        <td>
          <img src="assets/refresh-16.png" class="refresh" (click)="refreshProject(project)">
        </td>
      </tr>
    </tbody>
  </table>
</div>
