/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.projectTable {
  tr {
    td {
      .languages {
        font-size: 0.65em;

        .language {
          display: inline-block;
          border: 1px solid rgb(31, 24, 24);
          background-color: #ffffff;
          padding: 3px;
          border-radius: 6px;
          margin-right: 2px;

          &:last-child { margin-right: 0; }
        }
      }
    }
  }
}