.user-link {
  width: 80px;
  height: 75px;
  margin-right: 5px;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;

  .link-image {
    max-width: 70px;
    max-height: 70px;
    border: 1px;
    border-color: #8c8c8c;
    box-shadow: 1px 1px 3px 0px #000000;
    border-style: solid;
    border-radius: 6px;
    margin-top: 2px;

    &:hover {
      box-shadow: 1px 1px 3px 1px #c9c23f;
    }
  }

  .link-id {
    display: none;
  }
}